name: Release
on: { push: { tags: [ 'v*' ] } }
permissions:
  deployments: write
  contents: write
jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: cluebotng/ci-create-release@main
        with:
          repo_name: '${{ github.repository }}'
          tag_name: '${{ github.ref }}'
          gh_app_key: '${{ secrets.CI_RELEASE_MAKER_APP_KEY }}'
